framework: auto-detect

source https://api.nuget.org/v3/index.json

storage: none
nuget BooruSharp prerelease
nuget DetectLanguage prerelease
nuget DSharpPlus 5.0.0-nightly-01930 prerelease
nuget DSharpPlus.CommandsNext 5.0.0-nightly-01930 prerelease
nuget DSharpPlus.Interactivity 5.0.0-nightly-01930 prerelease
nuget DSharpPlus.Lavalink 5.0.0-nightly-01930 prerelease
nuget DSharpPlus.SlashCommands 5.0.0-nightly-01930 prerelease
nuget DSharpPlus.VoiceNext 5.0.0-nightly-01930 prerelease
nuget FuzzierSharp prerelease
nuget JetBrains.Annotations prerelease
nuget Newtonsoft.Json prerelease
nuget Reddit prerelease
nuget Spectre.Console prerelease
nuget Spectre.Console.Analyzer prerelease
nuget SpotifyAPI.Web prerelease