framework: auto-detect

source https://api.nuget.org/v3/index.json

storage: none
nuget BooruSharp prerelease
nuget DetectLanguage prerelease
nuget FuzzierSharp prerelease
nuget JetBrains.Annotations prerelease
nuget Newtonsoft.Json prerelease
nuget Reddit prerelease
nuget Spectre.Console prerelease`
nuget Spectre.Console.Analyzer prerelease
nuget SpotifyAPI.Web prerelease
nuget Soulseek prerelease